#imagemLogo {
    width:10em;
    height: auto;
    border-radius: 100%;
     object-fit: cover;
}
#wppCima{
    width: 7em;
    height: auto;
     object-fit: cover;
}
.cabecalio {
    display: flex;
    justify-content: space-between;
     object-fit: cover;
}